@font-face {
	font-family: "LouisGeorgeCafe";
	src: url("fonts/Louis George Cafe.ttf");
}
@font-face {
	font-family: "LouisGeorgeCafe";
	src: url("fonts/Louis George Cafe Bold.ttf");
	font-weight: bold;
}

* {
	margin: 0;
	padding: 0;
	font-family: LouisGeorgeCafe;
	/*list-style: none;*/
	scroll-behavior: smooth;
	text-decoration: none;
	color: white;
}

html {
	overflow: hidden;
}

body>div:first-child {
	display: none;
}

h1 {
	align-self: center;
	margin-top: 2vh;
	font-size: 8.5vh;
	box-shadow: 0 5px #ff8300;
}

h2 {
	align-self: center;
	margin-top: 2.6vh;
	font-size: 4vh;
}

label {
	font-size: 2.5vh;
	margin-bottom: 0.3vh;
}

input,textarea,button {
	font-size: 2vh;
	background-color: transparent;
	border: solid 3px transparent;
	padding-bottom: 0.6vh;
	margin-bottom: 6vh;
	transition: all 0.2s ease;
}

textarea {
	background-color: #242424;
}

button {
	background-color: #202020;
	width: 50%;
	align-self: center;
}

button:hover {
	border-radius: 8px;
	background-color: orange;
	font-weight: bold;
	box-shadow: 5px 5px #202020;
}

input:focus, input:hover {
	background-color: #242424;
}

p {
	font-size: 2vh;
}


#wrapper {
	display: flex;
	flex-direction: column;
}

.sections {
	height: 100vh;
	background-color: #282828;
}

.side-img {
	background-color: blue;
	flex: 2;
}

.flex {
	flex: auto;
	display: flex;
}

.column {
	flex-direction: column;
}

.row {
	flex-direction: row;
}

#footer {
	height: 5vh;
	background-color: #1b1d1a;
	display: flex;
	justify-content: center
}

#footer div {
	align-self: center;
	font-weight: bold;
}

.skill {
	align-self: center;
	width: 80%;
	margin-top: 2vh;
}

.skill-bar {
	background-color: white;
	height: 3vh;
	border-radius: 5px;
}

.bars {
	border-radius: 5px;
	background-color: #f4f41a;
	height: 100%;
	transition: all 0.9s cubic-bezier(.17,.84,.44,1);
	width: 0;
}

.skills-column {
	flex: 1;
}

#database {
	display: contents;
}

#projects-showcase {
	padding: 10vh;
}

.project-logo {
	flex: 1;
	margin: 10px;
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
}

#desc {
	width: 25vw;
	padding: 2vw;
	background-color: green;
}

#contact-box {
	flex: 2;
}

#contact-box form {
	width: 50%;
	align-self: center;
	margin-top: 12vh;
}

#findme {
	flex: 1;
}

.logo {
	height: 4vh;
	width: 4vh;
	background-size: contain;
}

#findme .column {
	width: 70%;
	align-self: center;
}

#findme h2 {
	margin-top: 6vh;
	align-self: baseline;

}

.social-network {
	display: flex;
	margin-top: 5vh;
}

.social-network div:nth-child(2) {
	margin-left: 1vw;
	font-size: 2vh;
	align-items: center;
}

#more {
	font-size: 4vh;
	text-align: right;
}

.project-desc {
	height: 100%;
}

.color {
	background-color: #009bff;
}

.database {
	background-color: #31d531;
}

.opesys {
	background-color: #e34643;
}

.script {
	background-color: #a91fbd;
}

.ref-img {
	height: 8vh;
	width: 8vh;
	border-radius: 50%;
	align-self: center;
	background-size: cover;
}

.ref-desc {
	margin-left: 1vw;
}

.ref-name {
	font-size: 2vh;
	font-weight: bold;
}

.project-title {
	font-size: 5vh;
	font-weight: bold;
}

.project-subtitle {
	font-size: 3vh;
	font-weight: bold;
	margin-top: 4vh;
}

.project-text {
	font-size: 2vh;
	margin-top: 2vh;
	text-align: justify;
}

.project-img {
	margin-top: 2vh;
	background-size: contain;
	background-repeat: no-repeat;
}

#about {
	padding: 4vh;
}

#pic-me {
	background-image: url(images/moi.png); 
	height: 15vh; 
	width: 15vh; 
	border-radius: 50%; 
	background-size: contain;
	background-repeat: no-repeat; 
	margin-left: 1vw;
}

#me-name {
	font-size: 4vh;
	font-weight: bold;
}

#picname {
	height: 15vh;
}

#me-short {
	align-self: center;
	margin-left: 1vw;
}

#me-job {
	font-size: 2.5vh;
}

#me-desc {
	margin-top: 5vh;
	font-size: 2vh;
	text-align: justify;
}

#me {
	align-self: center;
}

#left-pannel {
	flex: 5;
}

.one {
	flex: 1;
}

#hobbies {
	align-self: center;
	padding-left: 14vh;
}

#hobbies h2 {
	margin-bottom: 2vh;
}

li {
	font-size: 3vh;
	margin-top: 2vh;
}
