@font-face {
	font-family: "LouisGeorgeCafe";
	src: url("fonts/Louis George Cafe.ttf");
}
@font-face {
	font-family: "LouisGeorgeCafe";
	src: url("fonts/Louis George Cafe Bold.ttf");
	font-weight: bold;
}

* {
	margin: 0;
	padding: 0;
	font-family: LouisGeorgeCafe;
	list-style: none;
	scroll-behavior: smooth;
}

body>div:first-child {
	display: none;
}

body {
	overflow: hidden;
}

#wrapper {
	display: flex;
	flex-direction: column;
}

.sections {
	height: 100vh;
	background-color: #282923;
	display: flex;
	color: white;
}

.side-img {
	background-color: blue;
	width: 32vw;
}

.content {
	display: flex;
	flex-direction: column;
	flex: auto;
}

h1 {
	align-self: center;
	margin-top: 2vh;
	font-size: 4vw;
}

#contact {
	flex-direction: column;
}

#contact>.content {
	width: auto;
	flex: auto;
}

#footer {
	height: 50px;
	background-color: #1b1d1a;
	display: flex;
	justify-content: center
}

#footer>div {
	align-self: center;
	font-weight: bold;
}
