@font-face {
	font-family: "LouisGeorgeCafe";
	src: url("fonts/Louis George Cafe.ttf");
}
@font-face {
	font-family: "LouisGeorgeCafe";
	src: url("fonts/Louis George Cafe Bold.ttf");
	font-weight: bold;
}

* {
	margin: 0;
	padding: 0;
	font-family: LouisGeorgeCafe;
	list-style: none;
	scroll-behavior: smooth;
	text-decoration: none;
	color: white;
}

html {
	overflow: hidden;
}

body>div:first-child {
	display: none;
}

h1 {
	align-self: center;
	margin-top: 2vh;
	font-size: 8.5vh;
	box-shadow: 0 5px #ff8300;
}

h2 {
	align-self: center;
	margin-top: 2.6vh;
	font-size: 4vh;
}

label {
	font-size: 2.5vh;
	margin-bottom: 0.3vh;
}

input,textarea,button {
	font-size: 2vh;
	background-color: transparent;
	border: solid 3px transparent;
	padding-bottom: 0.6vh;
	margin-bottom: 6vh;
	transition: all 0.2s ease;
}

textarea {
	background-color: #242424;
}

button {
	background-color: #202020;
	width: 50%;
	align-self: center;
}

button:hover {
	border-radius: 8px;
	background-color: orange;
	font-weight: bold;
	box-shadow: 5px 5px #202020;
}

input:focus, input:hover {
	background-color: #242424;
}

li {
	font-weight: bold;
	color: orange;
}

p {
	font-size: 2vh;
	font-weight: normal;
	text-align: justify;
}

h3 {
	font-size: 2vh;
}

i {
	color: black;
}

a b {
	color: orange;
}

#wrapper {
	display: flex;
	flex-direction: column;
}

.sections {
	height: 100vh;
	background-color: #282828;
}

.side-img {
	background-color: blue;
	flex: 2;
}

.flex {
	flex: auto;
	display: flex;
}

.column {
	flex-direction: column;
}

.row {
	flex-direction: row;
}

#footer {
	height: 5vh;
	background-color: #1b1d1a;
	display: flex;
	justify-content: center
}

#footer div {
	align-self: center;
	font-weight: bold;
	font-size: 2vh;
}

.skill {
	align-self: center;
	width: 80%;
	margin-top: 1.8vh;
}

.skill-bar {
	background-color: white;
	height: 3vh;
	border-radius: 5px;
}

.bars {
	border-radius: 5px;
	background-color: #f4f41a;
	height: 100%;
	transition: all 0.9s cubic-bezier(.17,.84,.44,1);
	width: 0;
}

.skills-column {
	flex: 1;
}

#database {
	display: contents;
}

#projects-showcase {
	padding: 10vh;
}

#projects {
	background-color: white;
}

#projects h1 {
	color: black;
}

.project-logo {
	flex: 1;
	margin: 10px;
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
}

#desc {
	width: 30vw;
	padding: 2vw;
	background-color: #282828;
}

#contact-box {
	width: 60%;
}

#contact-box form {
	width: 50%;
	align-self: center;
	margin-top: 12vh;
}

#findme {
	width: 40%;
	background-color: white;
}

#findme div, #findme h1 {
	color: black;
}

.logo {
	height: 5vh;
	width: 5vh;
	background-size: contain;
}

#findme .column {
	width: 70%;
	align-self: center;
}

.social-network {
	display: flex;
	margin-top: 5vh;
}

.social-network div:nth-child(2) {
	margin-left: 1vw;
	font-size: 3vh;
	align-items: center;
}

#more {
	font-size: 4vh;
	text-align: right;
	color: black;
}

.project-desc {
	height: 100%;
	display: none;
}

.color {
	background-color: #009bff;
}

.database {
	background-color: #31d531;
}

.opesys {
	background-color: #e34643;
}

.script {
	background-color: #a91fbd;
}

.ref-img {
	height: 8vh;
	width: 8vh;
	border-radius: 50%;
	align-self: center;
	background-size: cover;
}

.ref-desc {
	margin-left: 1vw;
}

#first-ref {
	margin-top: 5vh;
}

.ref-desc div:nth-child(2) {
	font-size: 2vh; 
}

.ref-name {
	font-size: 3vh;
	font-weight: bold;
}

.project-title {
	font-size: 5vh;
	font-weight: bold;
}

.project-subtitle p {
	font-size: 3vh;
	font-weight: bold;
	margin-top: 3vh;
}

.project-subtitle b {
	color: orange;
}

.project-text {
	font-size: 2vh;
	margin-top: 2vh;
	text-align: justify;
}

.project-img {
	margin-top: 2vh;
	background-size: contain;
	background-repeat: no-repeat;
}

#pic-me {
	background-image: url(images/moi.png); 
	height: 12vh; 
	width: 12vh; 
	border-radius: 50%; 
	background-size: contain;
	background-repeat: no-repeat; 
	margin-left: 1vw;
	align-self: center;
}

#me-name {
	font-size: 3.8vh;
	font-weight: bold;
}

#me-short {
	align-self: center;
	margin-left: 1vw;
}

#me-job p {
	font-size: 2.5vh;
	color: orange;
	font-weight: bold;
}

.one {
	flex: 3;
}

#hobbies h2 {
	margin-bottom: 2vh;
}

li {
	font-size: 3vh;
	margin-top: 2vh;
}

.two {
	flex: 5;
}

.edu-title {
	font-size: 3.5vh;
	margin-top: 12vh;
	font-weight: bold;
	align-self: center;
}

.edu-desc {
	font-size: 2.5vh;
}

.edu-loc {
	color: #b5b5b5;
}

#me h1 {
	justify-content: flex-start;
}

#home-img {
	width: 70%;
	background-image: url(images/trees.jpg);
	background-size: cover;
}

#about {
	width: 30%;
	padding: 5vh;
	background-color: white;
}

#about div, #me-data b, #me-data p {
	color: black;
}

#me-desc {
	font-size: 2vh;
}

#me-data p {
	margin-top: 3vh;
}

#me {
	height: 13vh;
}

#download a {
	color: black;
	font-size: 2vh;
	font-weight: bold;
}

#download {
	align-self: flex-end;
}

#interests {
	width: 65%;
	background-color: white;
}

#interests h1, #interests .desc {
	color: black;
}

.desc b {
	color: black;
}

#education {
	width: 35%;
}

#education, #interests {
	padding: 5vh;
}

#interests-pics div {
	background-size: cover;
	margin-top: 5vh;
}

#interests-pics div:nth-child(1),
#interests-pics div:nth-child(2),
#interests-pics div:nth-child(3) {
	margin-right: 1vw;
}

#interests-pics {
	height: 45%;
}

#interests-desc {
	height: 35%;
	width: 35vw;
	margin-top: 2vh;
	align-self: center;
}

#interests-desc div {
	height: 100%;
	width: 100%;
	display: none;
	align-self: center;
}

.orange-title {
	color: orange;
	font-size: 4vh;
	font-weight: bold;
	align-self: center;
	margin: 3vh 0 1.5vh 0; 
}

